@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.achieve-sec {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $color-black;
    .inner {
        padding: 110px 0;
    }
    .achieve-line-wrap {
        @include pos-absolute;
        width: 100%;
        height: 100%;
    }
    .video-wrap {
        position: relative;
        width: 100%;
        height: 360px;
        overflow: hidden;
        
        video {
            @include pos-absol-center;
        }
        .fake-wall {
            @include dis-flex-center;
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            .wall {
                width: 50%;
                height: 100%;
                background-color: $color-black;
            }
        }
    }
}