@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.footer_sec {
    position: relative;
    width: 100%;

    .inner {
        height: 712px;
    }
    .txt {
        z-index: 9;
        position: relative;
        padding: 71px;
        color: $color-primary;
    }
}