@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.footer_sec {
    overflow: visible;
    position: relative;
    width: 100%;

    .inner {
        height: 71.2rem;
    }
    .txt {
        z-index: 9;
        position: relative;
        padding: 7rem;
        color: $color-primary;
    }
}