@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.footer_sec {
  overflow: visible;
  position: relative;
  width: 100%;

  .inner {
    height: 71.2rem;
  }
  .txt {
    z-index: 9;
    position: relative;
    padding: 7rem;
    color: $color-primary;
    font-size: 1.6rem;
  }
}

// 2. 태블릿용
@media (max-width: 1279px) {
  .footer_sec {
    .inner {
      height: auto;
    }
    .txt {
      padding: 4rem;
    }
  }
} // 3. 모바일용
@media (max-width: 767px) {
}
