@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.sponsor_sec {
    padding-bottom: 260px;
    width: 100%;
    background-color: $color-black;
    .inner {
        .tit_wrap {
            display: flex;
            justify-content: space-between;
            .slogan {
                margin-right: 225px;
                font-size: 40px;
                color: $color-white;
                font-weight: 700;
                span {
                    color: $color-primary;
                }
            }
        }
    }

    .list_con {
      margin: 100px auto 0;
      padding: 0 40px;
      border-top: 1px solid $color-primary-half;
      border-bottom: 1px solid $color-primary-half;
      width: 100%;
      .list_wrap {
        display: flex;
        .spon_list {
          position: relative;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% / 5);
          height: 365px;
          border-left: 1px solid $color-primary-half;
          border-right: 1px solid $color-primary-half;
        
          & + .spon_list {
            border-left: 0;
          }

          .img_box {
            width: 245px;
            img {
              max-width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
}