@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.visual-sec {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: $color-black;
  .visual_fake {
    padding-top: 50vh;
  }
  .visual_wrap {
    position: relative;
    height: 100vh;
    height: 100dvh;
  }
  .slogan {
    z-index: 1;
    margin: 0 3.6rem;
    padding: 10rem 0 0;
    text-align: center;
    overflow: hidden;
    .slogan-txt {
      display: inline-block;
      font-family: "Anton", sans-serif;
      // font-size: (420 / 1920) * 100vw;
      font-size: 42rem;
      line-height: 1;
      letter-spacing: -0.8vw;
      color: $color-primary;
    }
  }
  .keep-scroll {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    bottom: 1.6rem;
    right: 6rem;
    .txt {
      font-size: 1.8rem;
      font-weight: 700;
      color: $color-white;
    }
  }
  .visual-desc {
    z-index: 1;
    position: absolute;
    bottom: 23.4rem;
    left: 5rem;
    .sub-desc {
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-white;

      .highlight {
        margin-right: 5px;
        font-style: italic;
        color: $color-primary;
      }

      & > p {
        display: block;
        overflow: hidden;
        span {
          display: inline-block;
        }
      }
    }
  }
  .floating-txt {
    z-index: 1;
    position: absolute;
    top: 40rem;
    right: 20rem;
    p {
      padding: 0 .5rem;
      color: $color-primary;
      background: #fff;
      clip-path: inset(0 100% 0 0);
      font-size: 1.6rem;
      &:first-child {
        display: inline-block;
      }
    }
  }
  .trophy {
    position: absolute;
    left: 50%;
    max-width: 57.2rem;
    width: 100%;
  }
}

// 2. 태블릿용
@media (max-width: 1279px) {
  .visual-sec {
    height: 100vh;
    .slogan {
      .slogan-txt {
        font-size: 27rem;
      }
    }
  }
}

// 3. 모바일용
@media (max-width: 767px) {
  .visual-sec {
    .slogan {
      .slogan-txt {
        font-size: 15rem;
      }
    }
    .floating-txt {
      top: 75rem;
      right: 4rem;
    }
    .visual-desc {
      bottom: 11.4rem;
    }
    .trophy {
      max-width: 67.2rem; 
    }
  }
}
