@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.visual-sec {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150vh;
  background-color: $color-black;
  // border: 1px solid #ff0000;
  .visual_fake {
    padding-top: 50vh;
    // border: 1px solid blue;
  }
  .visual_wrap {
    position: relative;
    height: 100vh;
  }
  .slogan {
    margin: 0 36px;
    padding: 100px 0 0;
    text-align: center;
    overflow: hidden;
    .slogan-txt {
      display: inline-block;
      font-family: "Anton", sans-serif;
      font-size: (420 / 1920) * 100vw;
      line-height: 1;
      letter-spacing: -0.8vw;
      color: $color-primary;
    }
  }
  .keep-scroll {
    overflow: hidden;
    position: absolute;
    bottom: 16px;
    right: 60px;
    .txt {
      font-size: 1.8rem;
      font-weight: 700;
      color: $color-white;
    }
  }
  .visual-desc {
    position: absolute;
    bottom: 234px;
    left: 50px;
    .sub-desc {
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-white;

      .highlight {
        margin-right: 5px;
        font-style: italic;
        color: $color-primary;
      }

      & > p {
        display: block;
        overflow: hidden;
        span {
          display: inline-block;
        }
      }
    }
  }
  .floating-txt {
    position: absolute;
    top: 400px;
    right: 200px;
    p {
      padding: 0 5px;
      color: $color-primary;
      background: #fff;
      clip-path: inset(0 100% 0 0);
      font-size: 1.6rem;
      &:first-child {
        display: inline-block;
      }
    }
  }
  .trophy {
    position: absolute;
    left: 50%;
    max-width: 57.2rem;
    width: 100%;
  }
}

// 2. 태블릿용
@media (max-width: 1279px) {
  .visual-sec {
    height: 100vh;
    height: 100dvh;
  }
}

// 3. 모바일용
@media (max-width: 767px) {
}
