@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pos-absolute() {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin pos-fixed() {
    position: fixed;
    top: 0;
    left: 0;
}

@mixin pos-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin dis-grid($columns, $rows, $columnGap, $rowGap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    column-gap: $columnGap;
    row-gap: $rowGap;
    width: auto;
    height: auto;
}