@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

section {
    position: relative;
}

.sec_tit {
    transform: translateY(100px);
    opacity: 0;
    margin-bottom: 52px;
    min-height: 42px;
    font-size: 28px;
    font-weight: 600;
    color: $color-primary;
}

main {
    &.pc {
        overflow: hidden;
        position: relative;
        height: 100vh;
    }
    &.mobile {
        overflow: visible;
        position: relative;
        height: auto;
    }
}

.section {
    &.pc {
        display: block;
    }
    &.mobile {
        display: none;
    }
}

.inner {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 100px);
}

.icon-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: $color-primary-half;
//     .icon-line {
//         .icon-line {
//             &.top,
//             &.bottom {
//                 clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
//             }
//         }
//       &.path{
//         &.top,
//         &.bottom {
//             clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//         }
//       }
//   }
    &.vertical {
        width: 1px;
        height: 100%;
    }
    &.top {
        top: 50px;
    }
    &.bottom {
        bottom: 50px;
    }
    &.left {
        left: 50px;
    }
    &.right {
        right: 50px;
    }
    &.icon {
        width: 21px;
        height: 21px;
        background: url("../../../public/images/icon-plus.png") no-repeat;

        &.top-left {
            top: 40px;
            left: 40px;
        }
        &.top-right {
            top: 40px;
            right: 40px;
        }
        &.bottom-left {
            bottom: 40px;
            left: 40px;
        }
        &.bottom-right {
            bottom: 40px;
            right: 40px;
        }
    }
}

.short-line {
    .icon-line {
        &.top {
            top: 10px;
        }
        &.bottom {
            bottom: 10px;
        }

        &.icon {
            &.top-left {
                top: 0;
                left: 0;
            }
            &.top-right {
                top: 0;
                right: 0;
            }
            &.bottom-left {
                bottom: 0;
                left: 0;
            }
            &.bottom-right {
                bottom: 0;
                right: 0;
            }
        }
    }
}

.side_line {
  .icon {
    &.top-left {
        top: -11px;
        left: -11px;
    }
    &.top-right {
        top: -11px;
        right: -11px;
    }
    &.bottom-left {
        bottom: -11px;
        left: -11px;
    }
    &.bottom-right {
        bottom: -11px;
        right: -11px;
    }
}
}

button {
  .icon_con {
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    width: 36px;
    height: 38px;
    .icon_wrap {
      display: flex;
      width: 200%;
      height: 100%;
      transform: translateX(-50%);
      transition: transform .3s cubic-bezier(0.25, 1, 0.5, 1);
      span {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../../../public/images/icon-arrow-red.svg") no-repeat 0 / cover;
        
        & + span {
          background: url("../../../public/images/icon-arrow-white.svg") no-repeat 0 / cover;
        }
      } 
    }
  }
}

.floating_txt2 {
    z-index: $z-index-front;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    will-change: opacity;
    opacity: 0;

    .sub_txt {
      font-size: 28px;
      font-weight: 600;
    }
    .tit {
        margin-top: 10px;
        font-family: "Anton", sans-serif;
        font-size: 126px;
        line-height: 1;
        letter-spacing: 6px;
    }
}